body{
    background-color:lightblue;
}

h1{
    text-align: center;
    font-size: 40pt;
}

h2{
    font-size: 30pt;
}

h3{
    font-size: 20pt;
}

#paragraph2{
    background-color: white;
    width: 45%;
    margin: 20px;
    padding: 30px;
    border:5px solid green;
    line-height: 30px;
}

.blue{
    background-color: darkblue;
    color: white;
    height: auto;
    padding: 20px;
    line-height: 20px;
}

li{
    list-style: decimal-leading-zero; 
}

ol a{
    color: blue;
}

a{
    color: red;
}

table, th, td{
    border: 1px solid;
    background-color: white;
}

table{
    border-collapse: collapse;
}

th{
    background-color: lightgrey;
}
