body{
    background-color: lightblue;
}

h1{
    text-align: center;
}

#p2{
    border:5px solid green;
    height: auto;
    width: 25%;
    background-color: white;
}

#p4{
    background-color: darkblue;
    color: white
}
#p5{
    background-color: darkblue;
    color: white
}

li{
    list-style: decimal-leading-zero; 
}

a{
    color: blue;
}

#w3{
    color: red;
}

table, th, td{
    border: 1px solid;
    background-color: white;
}

table{
    border-collapse: collapse;
}

th{
    background-color: lightgrey;

}


